<div class="user-info" *ngIf="user$ | async as user">
  <div class="points-badge">
    <span class="points">{{ userPoints() }} P</span>
  </div>

  <button class="profile-link" (click)="openModal()" type="button" aria-label="Open profile">
    <img
      [src]="user.picture || avatarPlaceholder"
      class="profile-avatar"
      [alt]="user.name ? user.name + ' avatar' : 'User avatar'"
      (error)="onAvatarError($event)"
    />
  </button>

  <app-transactions-modal
    [isOpen]="isModalOpen()"
    [userDetails]="user"
    (closeModal)="closeModal()"
  />
</div>
