<div class="transactions-content">
  <div class="profile-header">
    <div>
      <h2>{{ userName() }}</h2>
      <p>{{ userTitle() }}</p>
    </div>

    <a routerLink="/profile" class="profile-link-button">
      <app-chevron-right-icon></app-chevron-right-icon>
    </a>
  </div>

  <hr />

  <section class="transactions-section">
    <h3>Транзакции</h3>

    @if (transactions().length > 0) {
      <div class="transactions-list">
        @for (transaction of transactions(); track transaction.id) {
          <div class="transaction-item">
            <div class="transaction-icon">
              @if (transaction.type === 'income') {
                <app-arrow-up-icon></app-arrow-up-icon>
              } @else {
                <app-arrow-down-icon></app-arrow-down-icon>
              }
            </div>

            <div class="transaction-description">
              {{ transaction.description }}
            </div>

            <div
              class="transaction-amount"
              [class.income]="transaction.type === 'income'"
              [class.expense]="transaction.type === 'expense'"
            >
              {{ transaction.type === 'income' ? '+' : '-' }}{{ transaction.amount }} Р
            </div>
          </div>
        }
      </div>
    } @else {
      <div class="transactions-empty">Нет транзакций</div>
    }
  </section>

  <hr />

  <button type="button" class="logout-button" (click)="logout()">Выйти из системы</button>
</div>
